# git clone urls, one per line
https://github.com/opensciencegrid/gums
https://github.com/opensciencegrid/htcondor-ce
https://github.com/opensciencegrid/osg-configure
https://github.com/opensciencegrid/privilege-xacml
https://github.com/edquist/bestman2
